body {
   max-height: 100vh;   
}

.col {
   height: 100vh;
}

.col.col-8 {
   padding-left: 0;
   overflow: hidden;
}

.col.col-4 {
   width: 100vw;
   height: 90vh;
}

.btn {
   margin: 0 5px 5px 0;
}

table {
   color: white;
   height: 100vh;
}

.alert {
   width: 100%;
}

.coin {
   background-image: url("coin.png");
   background-size: 50% auto;
   background-color: blue;
   background-repeat: no-repeat;
   background-position: center;
}

.player {
   background-image: url("player.png");
   background-size: 50% auto;
   background-color: blue;
   background-repeat: no-repeat;
   background-position: center;
}

.empty {
   background-size: 100% auto;
   background-color: blue;
}

.red {
   background-size: 100px 100px;
   background-color: red;
}